*{
    padding: 0;
    margin: 0;
}
/* layout CSS */
#main {
    float: left;
    width: 640px;
    padding: 19px;
}

/* BODY */
body {
    line-height:1;
    font-size:100%;
    font-family:'Open Sans', sans-serif;
    color:#6b6969;
}

/* container */
#container {
    width: 980px;
    height: 2020px;
    margin: 0 auto;
    box-shadow: 0 0 1em #cccccc;
}

/* Header */
header{
    padding: 10px;
    background-color: #ddd8d8;
}
header h1 {
    margin: 20px 10px;
    color: #181616;
}

/* WRAPPER */
#wrapper{
    margin: 0px;
}

/* Navigasi */
nav{
    display: block;
    background-color: rgb(207, 5, 5);
    padding: 5px;
}
ul a{
    color: white;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

/* Slide Show */
.slide{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slide img{
    max-width: auto;
    padding: 30px;
    flex: 1 0 92%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    position: relative;
    column-gap: 5px;
    bottom: 55px;
    left: 150px;
    z-index: 1;
    margin-left:300px;
}
.slider-nav a{
    background-color:grey;
    width:20px;
    height: 20px;
    border-radius: 10px;
    opacity: 0.75;
}
.slider-nav a:hover{
    opacity: 1;
    transition: 1s;
}

/* SIDEBAR */
#sidebar{
    float: left;
    width: 260px;
    padding: 20px;
}
.side-bar .title {
    padding:10px 16px;
    background-color:#428bca;
    color:#fff;
}    
.side-bar {
    border:1px solid #eee;
    margin-bottom:20px;
}
.side-bar ul{
    list-style: none; 
}
.side-bar ul li{
   border-bottom:1px solid #eee;
}
.side-bar a{
    padding:10px 16px;
    color:#333;
    display:block;
    text-decoration:none;
}
.side-bar li:hover a {
    background-color:#eee;
}
.side-bar p {
    padding:15px;
    line-height:25px;
}
   
/* Aritcle Main */
.artikel{
   margin-left: 10px;
   padding: 30px;
}
.artikel p{
    font-size: 100%;
    justify-content: space-between;
}

/* Driver*/
.divider {
    border:0;
    border-top:1px solid #eeeeee;
    margin:40px 0;
}

/* More Artikel */
.entry {
    margin: 15px 0;
    margin-left: 30px;
}
.entry h2 {
    margin-bottom: 20px;
}
.entry p {
    line-height: 25px;
}
.entry img {
    float: left;
    border-radius: 5px;
    margin-right: 15px;
}
.entry .right-img {
    float: right;
}

/* FOOTER */
footer{
    background-color: aqua;
    padding: 20px;
    margin: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.lisensi{
    float: right;
}
